body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.root-adminHome{
  margin-top: -7rem;
 }
 .bgHome{
  width: 100%;
  min-height: 50vh;
  background-color: #d50000;
  /* background-image: linear-gradient(to right #FF2626, #BD1616); */
  background-size: 100%;
  background-position: center;
 }
 .cardStyleProfile{
  box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.26);
 -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.26);
 -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.26);
 }
 .profileCard{
  align-items: center;
 }
 .profilPicture{
  height: 7rem;
  width: 7rem;
  border-radius: 10%;
  object-fit: cover;
 }
 .nameProfile{
  font-size: 1rem;
  font-weight: 700;
  line-height: 0.5rem;
 }
 .roleProfile{
  font-size: 1rem;
  line-height: 1rem;
 }
 .homeTitle{
  color: white;
  text-align: center;
  padding-top: 4rem;
  font-size: 3rem;
  font-weight: 700;
 }
 .homeDesc{
  color: white;
  text-align: center;
  font-size: 1rem;
 }
 .space{
  width: 1rem;
 }
 .cardTransaksi{
  background-color: #ff5722;
  border-radius: 0.5rem;
 }
 .transaksiNow{
  font-size: 1rem;
  color: white;
  text-align: center;
  padding-top: 1rem;
  line-height: 2rem;
 }
 .cardTransaksi:hover{
  background-color: #b23c17;
 }